body {
 margin: 0;
}

.middle_block {
height: 100%;
width: 100%;
}

.first_content {
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
}

.gagarin_text {
font-family: cursive;
font-size: 27px;
}

.sixty_img {
margin-top: -30px;
}

.future_text {
font-family: cursive;
font-size: 19px;
}

.future_img {
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-around;
}

.future_first {
height: 350px;
width: 600px;
}

.future_second {
height: 350px;
width: 600px;
}

.coloss_text {
font-family: cursive;
font-size: 19px;
}

.watermoon_img {
height: 350px;
width: 500px;
}

.exoplanet_img {
height: 350px;
width: 500px;
}

.most_image {
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-around;
}

.grow_header {
margin-top: 50px;
}

.darthvaider_img {
height: 350px;
width: 500px;
}

.futurepic_img {
height: 350px;
width: 500px;
}

.spacegame_img  {
height: 350px;
width: 500px;
}

.salut7_img {
height: 350px;
width: 500px;
}

.art_block {
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-around;
}

.game_block {
height: 100%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-around;
margin-top: 40px;
}

.new_buttons {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 40px;
}
    
.first_button {
display: flex;
justify-content: center;
width: 100%;
height: 50px;
}
    
.second_button {
display: flex;
justify-content: center;
width: 100%;
height: 50px;
}

.second_content {
background-color: #B0E0E6;
}

.third_content {
background-color: #DDA0DD;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }
  
  .menu_item {
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(25, 44, 112, 1);
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .menu_item:hover {
    background: white;
    color: black;
    border: solid 1px rgba(25, 44, 112, 1);
  }
  
  .menu_item_text {
    width: 100%;
    height: 100%;
  }
  
  body {
  margin: 0;
  }
  
  .email_text {
  margin-left: 20px;
  }
  
  .logo_type {
  margin-left: 460px;
  margin-top: 150px;
  }
  
  .seryoga_content {
  background-color: rgba(25, 44, 112, 1);
  display: flex;
  flex-direction: row;
  }
  
  .logotip_img {
  height: 200px;
  width: 400px;
  }
  
  .menu_item_ref {
      color: white;
      text-decoration: none; /*убираем подчеркивание текста ссылок*/
  }
  
  .menu_item_ref:hover {
      color: black;
  }
  
  
  li {display: inline;}